$color-bg-header: #2e4a36;     
$color-bg-footer: #3a2f23;  

$color-font-main: #f5f5dc;  

$color-primary-hover: #f4a261;

$color-scroll-bg: #6b8e23;        
$color-scroll-border: #556b2f;   
$color-scroll-font: #ffffff;      
$color-scroll-hover-bg: #f4a261;  
$color-scroll-hover-font: #2e4a36; 

$color-nav-mobile-bg: #4b3b2a;    

$card-bg: #41674c;

$home-bg: rgb(21, 20, 20);

$font-family-header: 'Pattaya', sans-serif;
$font-family-paragraph: 'Merriweather', serif;