// Base color
$color-bg-header: #0d1b2a;    
$color-bg-footer: #1b263b;    

$color-font-main: #f5f5dc;    
$color-accent: #4a90e2;       
$color-primary-hover: #96caff; 

// Scrollbar
$color-scroll-bg: #65709d;
$color-scroll-border: #292f49;
$color-scroll-font: #f5f5dc;
$color-scroll-hover-bg: #39546b;
$color-scroll-hover-font: #d2d9fb;

// Navigation mobile
$color-nav-mobile-bg: #1b263b;

// Cards 
$card-bg: #253a3d;
$home-bg: #0b0e17;
$status-bg: #253a3d;  

// Fonts
$font-family-header: 'Pattaya', sans-serif;
$font-family-paragraph: 'Merriweather', serif;
